.destinations {

	&__title {
		margin-top: 97px;
	}

	&__btn {
		margin-top: 5px;
		text-align: center;
	}
	
}

.button__destinations {
	&:hover {
		transform: scale(1.1);
		background: $dark-blue;
		color: $white;
	}
}