.slider {
	overflow: hidden;
	width: 100%;
}

.image-slider {
	position: relative;

	&__slide {}

	&__image {

		text-align: center;


		img {
			max-width: 100%;
			border-radius: 15px;
		}
	}

	&__descr {
		font-family: 'Red Hat Text';
		font-weight: 500;
		font-size: 32px;
		text-transform: uppercase;
		color: $white;
		position: absolute;
		bottom: 40px;
		left: 100px;
	}
}

.slider {
	padding: 45px 0px 100px 0px;
}

.swiper-container {
	position: relative;
	z-index: 1;
}

.swiper-button-next,
.swiper-button-prev {
	display: none;
	color: $main-color;
	transition: color 0.3s ease 0s;

	&:hover {
		color: $main-color;
	}

	&::after {
		font-size: 55px;
	}
}

.image-slider .swiper-pagination {
	bottom: -40px;
}

.image-slider .swiper-pagination-bullet {
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	background-color: $main-color;
}